:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.border-primary {
  border-color: #2125293b !important;

}

.btn-secondary {
  color: #fff;
  background-color: #8595a2;
}

.card-header {
  background-color: #f8f9fa00;
  border-bottom: 0px
}

.card-img-overlay {
  position: absolute;
  top: 12%;
  right: 0;
  bottom: 50%;
  left: 0;
  padding: 1.25rem;
}

a {
  color: #0b0c0c;
  background-color: #efefef;
}
